diseño de paginas web con booostrap4/s1_ejemplo1_primerospasos/node_modules/
Flask_project/flask_venv/
Flask_project/flask-venv/
desarrollo del servidor-nodejs/red_bicivletas/node_modules/
unity/
fundamentos_android/
autodesk/